<!-- <template name="newRestaurant">
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Add new restaurant</strong> 
				<a href="#" class="abort" role="button"><span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span></a>
				<div class="panel-body">  
					Create
				</div>
			</div>
		</div>
	</div>
</template> -->

<template name="newRestaurant">
<div class="collapse" id="newRestaurant">
  <div class="well">
  {{> quickForm id="addRestaurant" schema="Schemas.Restaurants" type="insert" template="bootstrap3-inline" label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}

    {{#autoForm collection="Restaurants" id="insertRestaurant" type="insert"}}
    <fieldset>
      <legend>Add a Restaurant</legend>
      {{> afQuickField name='name'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
  </div>
</div>
</template>