<template name="offices">
  <div class="container-fluid">
    {{> location}}
    <div class="panel panel-default">
      <div class="panel-heading">Offices here:</div>
      <div class="panel-body">  
        <ul class="list-group">
          {{#each offices}}
          {{> office}}
          {{/each}}
        </ul>
      </div>
      <div classs="panel-footer">{{#if currentUser}}
       <a class="add btn btn-success pull-right" href="/offices/add" role="button">
        Add New Office
      </a>
      {{/if}} 
    </div>
  </div>
</div>
</template>

<template name="addOffice">
 <div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      {{#autoForm collection="Offices" id="addOfficeForm" type="method" meteormethod="addNewOffice" template="bootstrap3-inline" label-class="sr-only"}}
      <legend>Add an Office</legend>
      {{> afQuickField name='company'}}
      {{> afQuickField name='room'}}
      {{> afQuickField name='floor'}}
      {{> afQuickField name='domain'}}
      <button type="submit" class="btn btn-primary">Add</button>
      {{/autoForm}}

    </div>
  </div>
</div>
</template>

<template name="office">
  <a href="/offices/{{companyTitle}}">
    <li class="officeitem list-group-item"> 
     {{company}} {{room}} {{floor}} {{domain}}
     <span class="badge">{{activeOrders}}</span>
   </li>
   {{#if edit}}
   aaaa
   {{/if}}
 </a>
</template>

<template name="officeView">
  <div class="container-fluid">
   <div class="panel panel-default">
    <div class="panel-heading"><strong>{{company}}</strong> <small>{{geoAddress}}</small>
    <span class="badge pull-right">Active orders: {{activeOrders}}</span></div>
    <div class="panel-body">  
      <p>{{room}}</p>
      <p>{{floor}}</p>
      <p>{{summary}}</p>
      {{#if currentUser}}
      <div>
        <a class="add btn btn-success pull-right" href="/{{companyTitle}}/neworder" role="button">
        Add New Order
      </a>
      </div>
      {{/if}}
    </div>
  </div>
</div>
</template>
