<template name="newOrder">
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Add new order for {{company}}</strong> <small>{{geoAddress}}</small>
				<span class="badge pull-right">Active orders: {{activeOrders}}</span></div>
				<div class="panel-body">  
					Pick a restaurant 
					<div id="restaurantField">
						<input id="restaurant" class="form-control" placeholder="Pick restaurant" type="text">
					</div>

					{{#if currentUser}}
					or <a href="#" role="button" data-toggle="collapse" data-target="#newRestaurant">create new</a>
					<br/>
					{{> newRestaurant}}
					{{/if}}
				</div>
			</div>
		</div>
	</template>

	