<template name="officeDetails">
  <div class="container-fluid">
   <div class="panel panel-default">
    <div class="panel-heading"><strong>{{company}}</strong> <small>{{geoAddress}}</small>
    <span class="badge pull-right">Active orders: {{activeOrders}}</span></div>
    <div class="panel-body">  
      <p>{{room}}</p>
      <p>{{floor}}</p>
      <p>{{summary}}</p>
      {{#if currentUser}}
      <div>
        <a class="add btn btn-success pull-right" href="/{{companyTitle}}/neworder" role="button">
        Add New Order
      </a>
      </div>
      {{/if}}
    </div>
  </div>
</div>
</template>