<template name="offices">
  <div class="container-fluid">
    {{> location}}
    <div class="panel panel-default">
      <div class="panel-heading">Offices here:</div>
      <div class="panel-body">  
        <ul class="list-group">
        {{#if offices.count}}
          {{#each offices}}
          {{> officeListItem}}
          {{/each}}
          {{else}}
          No offices here
          {{/if}}
        </ul>
        <div classs="panel-footer">
          <div class="pull-right">
            {{#if currentUser}}
            <a class="add btn btn-success" href="/offices/add" role="button">
              Add New Office
            </a>
            {{/if}} 
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
